@model SpaceRealty.Models.House
@{
    ViewData["Title"] = "Property";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Property</title>
</head>
<body>
    @using (Html.BeginForm("SubmitProperty", "Property", FormMethod.Post))
    {
        <label>MLS #:</label>
        @Html.TextBoxFor(m => m.MLSNum);
        <label>Street 1:</label>
        @Html.TextBoxFor(m => m.Street1);
        <label>Steet 2:</label>
        @Html.TextBoxFor(m => m.Street2);
        <label>City:</label>
        @Html.TextBoxFor(m => m.City);
        <label>State:</label>
        @Html.TextBoxFor(m => m.State);
        <label>ZipCode:</label>
        @Html.TextBoxFor(m => m.ZipCode);
        <label>Neighborhood:</label>
        @Html.TextBoxFor(m => m.Neighborhood);
        <label>Sales Price:</label>
        @Html.TextBoxFor(m => m.SalesPrice);
        <label>Date Listed:</label>
        @Html.TextBoxFor(m => m.DateListed);
        <label>Bedrooms:</label>
        @Html.TextBoxFor(m => m.Bedrooms);
        <label>Bathrooms:</label>
        @Html.TextBoxFor(m => m.Bathrooms);
        <label>Garage Size:</label>
        @Html.TextBoxFor(m => m.GarageSize);
        <label>Square Feet:</label>
        @Html.TextBoxFor(m => m.SquareFeet);
        <label>Lot Size:</label>
        @Html.TextBoxFor(m => m.LotSize);
        <label>Description:</label>
        @Html.TextAreaFor(m => m.Description);

        @if (Model.MLSNum == 0 || Model.MLSNum == null)
        {
            <input type="submit" value="Create Property" />
        }
        else
        {
            @Html.HiddenFor(m => m.Edit, true)
            <input type="submit" value="Edit Property" />
        }
    }
</body>
</html>
