@model SpaceRealty.Models.House
@{
}
    <div class="form-group">
        <label>MLS #:</label>
        @Html.TextBoxFor(m => m.MLSNum)
    </div>
    <div class="form-group">
        <label>Street 1:</label>
        @Html.TextBoxFor(m => m.Street1)
    </div>
    <div class="form-group">
        <label>Steet 2:</label>
        @Html.TextBoxFor(m => m.Street2)
    </div>
    <div class="form-group">
        <label>City:</label>
        @Html.TextBoxFor(m => m.City)
    </div>
    <div class="form-group">
        <label>State:</label>
        @Html.TextBoxFor(m => m.State)
    </div>
    <div class="form-group">
        <label>ZipCode:</label>
        @Html.TextBoxFor(m => m.ZipCode)
    </div>
    <div class="form-group">
        <label>Neighborhood:</label>
        @Html.TextBoxFor(m => m.Neighborhood)
    </div>
    <div class="form-group">
        <label>Sales Price:</label>
        @Html.TextBoxFor(m => m.SalesPrice)
    </div>
    <div class="form-group">
        <label>Date Listed:</label>
        @Html.TextBoxFor(m => m.DateListed)
    </div>
    <div class="form-group">
        <label>Bedrooms:</label>
        @Html.TextBoxFor(m => m.Bedrooms)
    </div>
    <div class="form-group">
        <label>Bathrooms:</label>
        @Html.TextBoxFor(m => m.Bathrooms)
    </div>
    <div class="form-group">
        <label>Garage Size:</label>
        @Html.TextBoxFor(m => m.GarageSize)
    </div>
    <div class="form-group">
        <label>Square Feet:</label>
        @Html.TextBoxFor(m => m.SquareFeet)
    </div>
    <div class="form-group">
        <label>Lot Size:</label>
        @Html.TextBoxFor(m => m.LotSize)
    </div>
    <div class="form-group">
        <label>Description:</label>
        @Html.TextAreaFor(m => m.Description)
    </div>